<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/views/projects.css">
    <link href="../css/animsition.css" rel="stylesheet">
    <link href="../css/base/fonts.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<div class="animsition">

    <div class="top-white-bar"></div>
    <div class="bottom-white-bar"></div>
    <div class="left-white-bar"></div>
    <div class="right-white-bar"></div>

    <div class="buttons-header active">
        <button class="navigation-trigger">
            <span class="icon-container">
              <span class="navigation-line navigation-line01"></span>
              <span class="navigation-line navigation-line02"></span>
              <span class="navigation-line navigation-line03"></span>
              <span class="navigation-line navigation-line04"></span>
            </span>
        </button>
    </div>

    <aside class="overlay">
        <div class="navigation-bg-home"></div>
        <div class="navigation-bg-projects"></div>
        <div class="navigation-bg-about"></div>
        <div class="navigation-bg-contacts"></div>

        <div class="navigation-content">
            <a href="../index.html" class="animsition-link navigation-trigger-home">WELCOME</a>
            <div class="simple-line" style="margin: 0 auto; opacity: 0.5;"></div>
            <a href="./about.html" class="animsition-link navigation-trigger-about">ABOUT ME</a>
            <div class="simple-line" style="margin: 0 auto; opacity: 0.5;"></div>
            <a href="./projects.html" class="animsition-link navigation-trigger-projects">PROJECTS</a>
            <div class="simple-line" style="margin: 0 auto; opacity: 0.5; width"></div>
            <a href="./contact.html" class="animsition-link navigation-trigger-contacts">CONTACTS</a>
        </div>
    </aside>

    <div class="home-background"></div>

    <a href="about.html" class="animsition-link">
        <div id="logo-animation" class="home-logo"></div></a>

    <a href="about.html" ><div id="logo-animation" class="home-responsive-logo"></div></a>

</div>

<!-- greensock -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../js/animsition.js"></script>
<script src="../js/custom.js"></script>

</body>
</html>